<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Genel</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Menü İşlemi <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="index.html">Menü</a></li>
                    <li><a href="index2.html">Menü Kategori</a></li>
                    <li><a href="index3.html">Admin</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-home"></i> Kategori işlemi <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="index.html">Kategorileri Listele</a></li>
                    <li><a href="index2.html">Kategori Ekle </a></li>

                </ul>
            </li>
            <li>
                <a><i class="fa fa-home"></i> Ürün İşlemleri <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="index.html">Ürünleri Listele</a></li>
                    <li><a href="index2.html">Ürün Ekle</a></li>

                </ul>
            </li>

        </ul>
    </div>
</div>
