
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  GeyikLounge.Entities.Category

@using (Html.BeginForm("Create", "Category", FormMethod.Post))
{
    <div class="form-group">
        <label for="Name">Category Name</label>
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Menu">Menu</label>
        @Html.DropDownList("MenuId", null, "Select Menu", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
}